<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

<div id="header"></div>

<script>
 fetch("/components/header.html")
    .then(response => response.text())
    .then(html => {
      document.getElementById("header").innerHTML = html;

      const currentPath = window.location.pathname;

      document.querySelectorAll("nav a").forEach(link => {
        const linkPath = new URL(link.href).pathname;

        // Home page
        if (
          (linkPath === "/index.html" && (currentPath === "/" || currentPath === "/index.html")) ||

          // Bills section (anything under /bills/)
          (linkPath.startsWith("/bills/") && currentPath.startsWith("/bills/"))
        ) {
          link.classList.add("active");

          link.addEventListener("click", e => {
            e.preventDefault(); // disable click
          });
        }
      });
    });
</script>

{% extends "base.html" %}
{% block content %}
<form method="POST">
    <label>Username:</label><br>
    <input name="username"><br><br>

    <label>Password:</label><br>
    <input type="password" name="password"><br>

    <label>Confirm Password:</label><br>
    <input type="password" name="password"><br><br>

    <label>Email</label><br>
    <input type="email" name="email"><br>

    <label>Phone</label><br>
    <input type="phone" name="phone"><br><br>

    <button type="submit">Register</button>
</form>
{% endblock %}
