<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bills</title>
</head>
<body>

<div id="header"></div>

<script>
 fetch("/components/header.html")
    .then(response => response.text())
    .then(html => {
      document.getElementById("header").innerHTML = html;

      const currentPath = window.location.pathname;

      document.querySelectorAll("nav a").forEach(link => {
        const linkPath = new URL(link.href).pathname;

        // Home page
        if (
          (linkPath === "/index.html" && (currentPath === "/" || currentPath === "/index.html")) ||

          // Bills section (anything under /bills/)
          (linkPath.startsWith("/bills/") && currentPath.startsWith("/bills/"))
        ) {
          link.classList.add("active");

          link.addEventListener("click", e => {
            e.preventDefault(); // disable click
          });
        }
      });
    });
</script>
{% extends "base.html" %}
{% block content %}
<head>
    <title>{{bill.chamber}} - {{bill.session}} - {{bill.id}}</title>
</head>
<li>
  <a href="{{ url_for('bills.bill_page',
                      chamber=bill.chamber,
                      session=bill.session,
                      bill_id=bill.id) }}">
    {{ bill.short_title }}
  </a>
</li>
<body>
    <div>
        <span>
            <h1>{{bill.short_title}}</h1>
            <h2>{{bill.long_title}}</h2>
            <p>{{bill.description}}</p>
        </span>
        <span>
            <h2>{{bill.chamber}}</h2>
            <h3>{{bill.session}}</h3>
        </span>
    </div>
    <div>
        <span>
            {% if bill.versions %}
                <ol>
                    {% for version in bill.versions %}
                    <li>
                        <strong>{{version.version}} - {{version.version_string}}</strong>
                        <p>{{version.summary}}</p><br>
                        {% if version.policy_areas %}
                            <ol>
                                {% for policy_area in version.policy_areas %}
                                    <li>{{policy_area.policy_area}}</li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <p>{{version.text}}</p>
                    </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </span>
        <span>
            {% if bill.actions %}
                <ol>
                    {% for action in bill.actions %}
                        <li>{{ action.guid }} - {{ action.description }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </span>
    </div>
</body>
{% endblock %}
